{
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "parserOptions": {
    "ecmaVersion": 9
  },
  "plugins": ["compat"],
  "extends": "@avalanche/eslint-config",
  "rules": {
    "compat/compat": "error"
  },
  "ignorePatterns": ["**/*.d.ts"]
}
